#content {
    width: 45em;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

a, a:visited, a:hover, a:active {
  color: #0000EE;
  text-decoration: none;
}

.title {
    text-align: center;
    border-bottom-style: solid;
    border-width: 1px;
}

h1,h2,h3,h4 {
    font-weight: normal;
}

h1,h2 {
    font-variant: small-caps
}

h2 {
    border-bottom-style: solid;
    border-width: 1px;
}


h3,h4 {
    font-size: medium;
    margin-left: 4em;
}

h4 {
    margin-left: 6em;
    font-style: italic;
}

.timestamp {
    color: #000;
    font-style: italic;
}


.tag {
     visibility: hidden;
}

table {
    width: 45em;
    border-style: hidden;
    margin-left: 6em;
}

td {
    padding: 0px;
}

p {
    margin-left: 6em;
}

ul {
    list-style-type: square;
    margin-left: 6em;
}


.outline-text-4 {
    margin-left: 1.5em;
}
